---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Únete a la Primera Hackathon Niantic 8thWall en Lima',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/Niantic-8thWall.jpg', alt: 'Niantic 8thWall' }}
  >
    <Fragment slot="title">
      Impulsa tu Carrera XR en la Primera Hackathon
      <span class="text-accent dark:text-white"> Niantic 8thWall</span> en Lima
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block mb-1 sm:hidden font-bold text-blue-600">¿Estás listo para dar el salto al futuro del desarrollo de Realidad Aumentada?</span>
      Únete a la primera hackathon Niantic 8th Wall en Lima, organizada por el LabXR de la Pontificia Universidad Católica y la empresa Perú Virtual Studio, y sé parte de la creación de experiencias inmersivas e innovadoras en el Perú. Este es tu llamado para demostrar tu talento, conectar con expertos de la industria y abrirte las puertas a emocionantes oportunidades profesionales.</br></br></br>
<strong>Fecha:</strong> Sábado, 24 de mayo de 2025</br>
<strong>Hora:</strong> 9:00 am - 6:00 pm</br>
<strong>Lugar:</strong> Open PUCP, Lima, Perú (Quinto Piso del CC Plaza San Miguel)</br></br></br>

    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="TECNOLOGÍA"
    title="WebAR con 8thWall"
    subtitle="Esta hackathon se centrará en el desarrollo de experiencias de Realidad Aumentada (AR) accesibles a través de la web, utilizando una potente plataforma que permite a los desarrolladores crear experiencias inmersivas sin necesidad de que los usuarios descarguen una aplicación. Específicamente, los participantes trabajarán con 8thWall y Niantic Studio para crear soluciones de AR. 8th Wall es la galardonada plataforma de desarrollo de RA y el conjunto de tecnologías de visión artificial de Niantic Inc. que hace posible construir realidad aumentada interactiva basada en la web (WebAR) que se puede experimentar en cualquier teléfono inteligente, sin necesidad de una aplicación. Se puede acceder y participar en las experiencias 8th Wall WebAR en más de 5 mil millones de teléfonos inteligentes con iOS y Android, así como en computadoras y visores de AR/VR."
    items={[
      {
        title: 'AR en todos los dispositivos',
        description:
          'Crea experiencias de realidad aumentada que funcionan en cualquier smartphone con un navegador web. Llega a una audiencia masiva sin la fricción de las descargas de apps.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Desarrollo Web Simplificado',
        description:
          'Utiliza tus habilidades de HTML, CSS y JavaScript para construir experiencias de AR interactivas. No necesitas experiencia nativa en ARKit o ARCore.',
        icon: 'tabler:components',
      },
      {
        title: 'Experiencias Inmersivas y Atractivas',
        description:
          '8th Wall te permite crear experiencias de RA ricas e interactivas que cautivan a los usuarios, utilizando el mundo real como lienzo.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Implementación y Distribución',
        description:
          'Publica tus experiencias de AR como cualquier página web. Comparte fácilmente a través de enlaces y códigos QR.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="EL DESAFÍO"
    title="Gamificación WebAR del Parque de las Leyendas"
    items={[
      {
        title: 'Crear soluciones AR innovadoras',
        description:
          'Trabaja en equipo para desarrollar experiencias de Realidad Aumentada en la web (WebAR) que transformarán la forma en que los visitantes interactúan con el Parque de las Leyendas, explorando sus fascinantes exhibiciones de zoología, botánica y arqueología.',
      },
      {
        title: 'Dominar la tecnología 8thWall con Niantic Studio',
        description:
          'Utiliza una de las plataformas líderes, Niantic Studio, para crear experiencias WebAR accesibles y de alto impacto.',
      },
      {
        title: 'Impactar el mundo real',
        description:
          'Tus creaciones serán evaluadas por un jurado de expertos y las mejores soluciones tendrán la oportunidad de ser implementadas en el Parque de las Leyendas, beneficiando a miles de visitantes.',
      },
    ]}
    image={{
      src: '~/assets/images/dinosaurio-ar.png&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Crea soluciones innovadoras con 8thWall
      </h3>
      Durante esta hackathon única, tendrás la oportunidad de:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Desarrolladores Web',
        description: `Conocimientos de HTML, CSS y JavaScript. Experiencia con frameworks de JavaScript como React, Angular o Vue.js es preferible. Familiaridad con APIs web modernas.`,
      },
      {
        title: 'Desarrolladores de Juegos',
        description:
          'Experiencia en motores de juego como Unity. Conocimientos de diseño de juegos, mecánicas de juego y narrativa interactiva. Habilidad para crear experiencias interactivas e inmersivas.',
      },
      {
        title: 'Desarrolladores de Realidad Aumentada (AR)',
        description:
          'Experiencia previa con desarrollo de AR o VR es altamente deseable. Conocimiento de las plataformas y herramientas de desarrollo de AR.',
      },
      {
        title: 'Artistas 3D y Modeladores',
        description:
          'Habilidad para crear modelos 3D y contenido visual para experiencias XR. Conocimientos de software de modelado 3D como Blender, Maya Substance 3D o 3D Studio Max. Comprensión de los principios de diseño visual y la estética.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content"
      >Participa de forma individual o como equipo. Buscamos estudiantes y profesionales con los siguientes conocimientos:</Fragment
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Un día completo de aprendizaje y desarrollo."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Bienvenida e Introducción a Niantic Studio</span>',
        description:
          "El evento dará inicio con una bienvenida a todos los participantes, seguida de una presentación detallada de la tecnología 8th Wall y Niantic Studio. Expertos en la plataforma ofrecerán una visión general de sus características y herramientas, brindando a los participantes los conocimientos necesarios para comenzar a desarrollar sus proyectos.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Desarrollo de Soluciones AR</span>',
        description:
          "Tras la introducción, los participantes se organizarán en equipos y comenzarán a trabajar en el desarrollo de sus soluciones AR propuestas para el Parque de las Leyendas. Contarán con el apoyo de mentores especializados, quienes les brindarán orientación técnica y creativa a lo largo de todo el proceso.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Presentación y Evaluación de Proyectos</span>',
        description:
          'La jornada culminará con la presentación de los proyectos desarrollados por cada equipo. Un jurado de expertos evaluará las soluciones en función de su creatividad, innovación, viabilidad e impacto. Finalmente, se anunciarán a los ganadores y se celebrará el cierre del evento.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Tecnologías Clave de Niantic 8th Wall"
    subtitle="Niantic 8th Wall permite a los desarrolladores crear experiencias XR inmersivas utilizando tecnologías web, motores de desarrollo y herramientas estándar. Aquí te presentamos algunas de las más importantes:"
    tagline="Herramientas"
    items={[
      {
        title: 'HTML',
        description: "Es el lenguaje de marcado estándar para crear la estructura de las páginas web y las aplicaciones web.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'CSS',
        description:
          "Es un lenguaje de diseño que se utiliza para definir la presentación visual de las páginas web y las aplicaciones web.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'JavaScript',
        description:
          'Es un lenguaje de programación que se utiliza para añadir interactividad y lógica a las páginas web y las aplicaciones web.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'WebXR',
        description:
          "Es una API de JavaScript que permite acceder a las capacidades de realidad virtual (RV) y realidad aumentada (RA) de los dispositivos.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'C#',
        description:
          'Se utiliza principalmente con el motor de juego Unity, que a menudo se usa para crear activos 3D para RA.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'React',
        description: 'Un framework de JavaScript para construir interfaces de usuario. Puede ser útil para organizar el código en proyectos 8th Wall más complejos.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'A-Frame',
        description: 'Un framework de código abierto para construir experiencias de realidad virtual (RV) en la web. Puede complementar a 8th Wall.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Unity',
        description:
          'Un motor de juego versátil para crear aplicaciones RA y RV, aunque 8th Wall se centra en la web.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Three.js',
        description: "Una biblioteca de JavaScript para crear gráficos 3D en la web. Puede usarse con 8th Wall para mejorar las visualizaciones 3D.",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Prepárate para este evento revisando la documentación de Niantic 8thWall"
    information={`La documentación de 8th Wall proporciona a los desarrolladores las herramientas y el conocimiento necesarios para crear experiencias de Realidad Aumentada (RA) inmersivas y accesibles a través de la web. Encontrarás guías detalladas, referencias de API y tutoriales prácticos para dominar la plataforma 8th Wall y desarrollar proyectos de RA innovadores. Explora las capacidades de 8th Wall y comienza a construir el futuro de la interacción digital.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Encuentra aquí las respuestas a las preguntas más comunes sobre la hackathon. Si no encuentras lo que buscas, no dudes en contactarnos."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué es la Hackathon Niantic 8th Wall en Lima?',
        description:
          "Es un evento organizado por el LabXR - PUCP y la empresa Perú Virtual Studio, donde desarrolladores, diseñadores y creativos se reunirán para crear experiencias inmersivas e innovadoras utilizando la tecnología Niantic 8th Wall. El objetivo es desarrollar soluciones AR para el Parque de las Leyendas.",
      },
      {
        title: '¿Qué es Niantic 8th Wall?',
        description:
          'Es una plataforma líder que permite a los desarrolladores crear experiencias de realidad aumentada (RA), realidad virtual (RV) y realidad mixta (MR) inmersivas y accesibles directamente a través de la web.',
      },
      {
        title: '¿Cuál es el desafío de la hackathon?',
        description:
          "Los participantes deberán crear soluciones AR innovadoras para el Parque de las Leyendas, explorando sus exhibiciones de zoología, botánica y arqueología.",
      },
      {
        title: "¿Quién puede participar?",
        description:
          "Estudiantes y profesionales con conocimientos en desarrollo web, desarrollo de juegos, diseño UX/UI, arte 3D y modelado, realidad aumentada/virtual, y otras disciplinas relacionadas. Se valoran las habilidades blandas como el trabajo en equipo, la comunicación y la creatividad.",
      },
      {
        title: '¿Cómo puedo participar?',
        description:
          "Puedes participar de forma individual o en equipos. Los equipos serán multidisciplinarios, con un máximo de 5 personas.",
      },
      {
        title: '¿Qué conocimientos necesito tener?',
        description:
          "Es importante tener conocimientos de inglés y dominio de desarrollo web (HTML, CSS, JavaScript), y preferiblemente experiencia con frameworks como React o Vue.js. También se valoran conocimientos en motores de juego como Unity, modelado 3D y diseño UX/UI.",
      },
      {
        title: '¿Cuándo y dónde se llevará a cabo la hackathon?',
        description:
          "El evento se realizará el sábado 24 de mayo de 2025, de 9:00 am a 6:00 pm en Open PUCP, Lima, Perú (Quinto Piso del CC Plaza San Miguel).",
      },
      {
        title: '¿Qué oportunidades ofrece la hackathon?',
        description:
          "Los mejores talentos tendrán la oportunidad de formar parte del equipo de desarrollo de futuros proyectos XR, conectar con líderes de la industria y dar un impulso a su carrera.",
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Hackathon<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Niantic 8thWall</span>
    </Fragment>

    <Fragment slot="subtitle">
      Únete a la primera hackathon Niantic 8th Wall en Lima, organizada por el LabXR de la Pontificia Universidad Católica y la empresa Perú Virtual Studio
    </Fragment>
  </CallToAction>
</Layout>
